* {
    margin: 0;
    padding: 0;
}
.header {
    background-image: url('image/image-slide.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 100px; 
}
.menu-top {
    height: 6rem;
    background-image: url('image/background-header.png');
    background-size: cover;
}
.logo {
    margin-top: 20%;
    margin-left: 20%;
}
.group-icon-network {
    margin-top: 7%;
    margin-left: 40%;
}
.btn-category {
    border-radius: 30em;
    background-color: #d5bc72;
    border: none;
    font-weight: bold;
}
.btn-category:hover {
    background-color: #cf9a02;
}
.input-group-text {
    border-radius: 30em;
}
.group-category {
    margin-top: 7%;
}
.btn-login {
    margin-top: 17%;
    border-radius: 30em;
    font-size: 70%;
    color: #d5bc72;
}
.menu-bottom .title-header {
    width: 40%;
    margin-top: 8%;
    margin-left: 10%;
    margin-bottom: 8%;
}
.menu-bottom .title-header .title {
    color: white;
    font-weight: bold;
}
.menu-bottom .title-header .competent {
    text-decoration: none;
    color: #d5bc72;
}
.menu-bottom .title-header .btn-start {
    border-radius: 30em;
    border: 1px solid #d5bc72;
    color: whitesmoke;
    font-weight: bold;
    margin-top: 5%;
}
.menu-bottom .title-header .btn-start:hover {
    background-color: #cf9a02;
}
.main .main-general {
    margin-top: 5%;
    margin-bottom: 5%;
}
.main .main-general .card {
    border: none;
}
.main .main-general .procedure-image {
    margin: auto;
}
.main .main-general .procedure-title {
    font-size: 22px;
    text-align: center;
}
.main .main-general .procedure-description {
    font-size: 13px;
    text-align: center;
}
.icon-featured {
    margin-left: 45%;
}
.title-featured {
    text-align: center;
}
.description-featured {
    text-align: center;
}
.item-card {
    border: none;
}
.item-card .icon-price {
    width: 23%;
    margin-top: -10%;
    margin-left: 70%;
}
.item-card .stars{
    margin-left: 5%;
}
.item-bottom {
    border-style: dotted none none none;
    border-width: 1px;
}
.item-bottom p {
    margin-left: 5%;
    font-size: 12px;
    margin-top: 2%;
}
.item-bottom .like {
    margin-left: 40%;
}
.main-category {
    background-image: url('image/background-cart.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 300px;
}
.name-image {
    color: whitesmoke;
    position: relative;
    top: -45%;
    left: 40%;
}
.btn-8courses {
    background-color: #d5bc72;
    margin-top: -70%;
    margin-left: 60%;
    border: none;
}
.btn-8courses:hover {
    background-color: #cf9a02;
}
.group-item1-transform {
    margin-top: 7%;
}
.group-item2-transform {
    margin-top: -4%;
}
.title-transform {
    font-size: 250%;
    font-weight: bold;
    margin-top: 10%;
}
.description-transform {
    font-size: 130%;
}
.subscriber {
    margin-bottom: 10%;
    margin-top: 10%;
}
.icon-send-email {
    margin-left: 45%;
}
.input-email {
    border-radius: 30px;
    width: 40%;
    height: 50px;
    font-size: 100%;
    margin-left: 30%;
    border: none;
    box-shadow: 1px 1px 1px #e7e9eb;
}
.btn-subscribe {
    border-radius: 30px;
    font-weight: bold;
    background: #d5bc72;
    border: none;
    margin-top: 4%;
    margin-left: -10%;
}
.btn-subscribe:hover {
    background: #cf9a02;
}
.main-transform {
    background-image: url('image/banner-main-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -300px; 
}
.description-client {
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
}
.description-client .title {
    color: white;
}
.description-client .icon-nhay {
    margin-top: 3%;
}
.description-client .description {
 color: #bbbdbe;
}
.description-client .name-avatar {
    color: white;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 3%;
    font-size: 110%;
}
.description-client .desgin-avatar {
    text-decoration: none;
    color: #d5bc72;
    margin-top: 10%;
    margin-left: -23%;
}
.description-client .grop-avatar {
    margin-left: 15%;
    margin-top: 2%;
}
.btn-client {
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 5%;
}
.btn-client .btn-prev {
    color: #d5bc72;
    border: 1px solid #d5bc72;
    border-radius: 30px;
}
.btn-client .btn-prev:hover {
    background-color: #cf9a02;
}
.btn-client .btn-next {
    color: white;
    border: none;
    margin-left: 52%;
}
.btn-client .btn-next:hover {
    background-color: rgb(124, 123, 123);
}
.client {
    background-image: url('image/background-client.png');
    background-size: cover;
}.groupworld {
    background-image: url('image/background-worldwide.png');
    background-size: cover;
}
.group-world {
    width: 70%;
    margin-top: 7%;
    margin-left: 5%;
}
.group-world .group-con {
    padding: 2%;
}
.group-world .title-group-world {
    color: white;
    font-size: 140%;
}
.group-world .description-group-world {
    color: #bbbdbe;
    font-size: 90%;
}
.row-featured .group-menu {
    margin: auto;
    width: 60%;
    border-radius: 30px;
    box-shadow: 1px 1px 1px #f2f2f2;
    margin-bottom: 5%;
}
.row-featured .group-menu .item-menu {
    text-decoration: none;
    color: black;
}
.main-recent-courses .category .btn-view {
    border-radius: 30px;
    background-color: #1c2f4d;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 45%;
    border: none;
}
.main-recent-courses .category .btn-view:hover {
    background-color: rgb(2, 2, 80);
}
.main-recent-courses {
    background-color: #fdfdfd;
}
.main-provides {
    background-image: url('image/background-provide.png');
    background-size: cover;     
}
.main-provides .tilte {
    color: white;
    margin-top: 5%;
    font-size: 200%;    
}
.main-provides .descripton {
    color: #bbbdbe;   
}
.main-provides .btn-get {
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    margin-left: 41%;
    margin-bottom: 22%;
    margin-top: 3%;     
}
.group-become {
    background-color: #d7bd73;
    margin-top: -15%;
}
.body-become1 {
    border-style: none dotted none none;
    border-width: 0.5px;
    border-color: white;
}
.group-become .icon-become {
    margin-left: 43%;
    margin-top: 5%;
}
.group-become .title {
    color: white;
}
.group-become .descripton {
    color: whitesmoke;
}
.group-become .btn-start-become,.btn-start-teaching {
    border-radius: 30px;
    font-weight: bold;
    margin-bottom: 5%;
    background-color: #1c2f4d;
    border: none;
}
.group-become .btn-start-teaching {
    margin-left: 35%;
}
.group-become .btn-start-become {
    margin-left: 35%;
}
.group-become .btn-start-become:hover {
    background-color: rgb(2, 2, 97);
}
.group-become .btn-start-teaching:hover {
    background-color: rgb(2, 2, 97);
}
.footer .color{
    color: #d7bd73;
}
.footer h5 {
    margin-top: 5%;
}
.footer li a {
    text-decoration: none;
    color: black;
    padding: 2%;
    margin-top: 5%;
}
.footer .cot-3 {
    list-style-type: none;
}
.footer .cot-cuoi {
    margin-top: 25%;
}
.group-network-footer {
    margin-left: 50%;
}
.footer {
    margin-top: 5%;
    margin-bottom: 5%;
}
.copyright-color {
    color: #d7bd73;
    text-decoration: none;
}
hr {
    border:none;
    border-top:1px dotted #bbbdbe;
    color:#fff;
    background-color:#fff;
    height:1px;
}
@media screen and (max-width: 992px) and (min-width: 768px) {
    .menu-top {
        height: 3rem;
        background-image: url('image/background-header.png');
        background-size: cover;
    }
    .logo{
        width: 70%;
        margin-top: 20%;
    }
    .group-icon-network {
        margin-top: 7%;
        margin-left: 45%;
        height: 40%;
    }
    .btn-category {
        font-size: 30%;
        width: 30%;
        height: 50%;
    }
    .search-header{
        font-size: 30%;
        height: 40%;
    }
    .input-group-text .icon-search {
        width: 50%;
    }
    .input-group-text {
        height: 40%;
    }
    .group-category {
        height: 10%;
        margin-top: 7%;
    }
    .btn-login {
        font-size: 50%;
        margin-top: 17%;
        margin-left: -20%;
    }
    .menu-bottom .title-header .title {
        font-size: 175%;
    }
    .menu-bottom .title-header .competent {
        font-size: 80%;

    }
    .menu-bottom .title-header .competent .icon-muiten {
        width: 10%;
    }
    .menu-bottom .title-header .btn-start {
        font-size: 50%;
    }
    .main .main-general .procedure-title {
        font-size: 70%;
    }
    .main .main-general .procedure-description {
        font-size: 50%;
    }
    .item-card .card-title {
        font-size: 110%;
    }
    .item-card .card-text {
        font-size: 70%;
    }
    .item-bottom .like {
        margin-left: 10%;
        width: 10%;
    }
    .main-category {
        background-position: 0px 250px;
    }
    .name-image {
        font-size: 100%;
        margin-top: 10%;
    }
    .btn-8courses {
        font-size: 50%;
        margin-top: -110%;
    }
    .title-transform {
        font-size: 140%;
    }
    .description-transform {
        font-size: 70%;
    }
    .image-category-transform {
        width: 110%;
    }
    .icon-send-email {
        
    }
    .input-email {
        font-size: 100%;
    }
    .btn-subscribe {
        font-size: 50%;
    }
    .description-client .title {
        font-size: 130%;
    }
    .description-client .icon-nhay {
        width: 25%;
    }
    .description-client .description {
        font-size: 90%;
    }
    .description-client .avatar {
        width: 15%;
        height: 15%;
    }
    .description-client .name-avatar {
        font-size: 75%;
    }
    .description-client .desgin-avatar {
        font-size: 60%;
    }
    .description-client .grop-avatar {
        margin-left: 10%;
    }
    .description-client .image-avatar {
        width: 70%;
    }
    .btn-client .btn-prev {
        font-size: 60%;
    }
    .btn-client .btn-next {
        font-size: 60%;
    }
    .group-world .group-con {
        padding: 2%;
    }
    .group-world .image-group-world {
        width: 140%;
    }
    .group-world .title-group-world {
        font-size: 100%;
    }
    .group-world .description-group-world {
        font-size: 50%;
    }
    .row-featured .group-menu {
        width: 60%;
    }
    .row-featured .group-menu .item-menu {
        font-size: 50%;
    }
    .row-featured .group-menu .item-menu .icon-menu{
        width: 20%;
    }
    .main-recent-courses .category .btn-view {
        font-size: 90%;
        margin-left: 40%;
    }
    .main-provides .tilte {
        font-size: 180%;    
    }
    .main-provides .descripton {
        font-size: 90%;  
    }
    .main-provides .btn-get {
        margin-left: 40%;  
    }
    .group-become .icon-become {
        width: 25%;
    }
    .group-become .title {
        font-size: 110%;
    }
    .group-become .descripton {
        font-size: 90%;
    }
    .group-become .btn-start-become {
        font-size: 50%;
    }
    .group-become .btn-start-teaching {
        font-size: 50%;
    }
    .footer h5 {
        font-size: 80%;
    }
    .footer li a {
        font-size: 70%;
    }
    .footer .cot-cuoi {
        margin-top: 30%;
    }
    .footer .title {
        font-size: 100%;
    }
    .footer p {
        font-size: 70%;
    }
    .group-network-footer {
        margin-left: 30%;
    }
    .group-network-footer img {
        width: 10%;
        height: 70%;
    }
    .copyright {
        font-size: 70%;
    }
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
    .menu-top {
        height: 3rem;
        background-image: url('image/background-header.png');
        background-size: cover;
    }
    .logo{
        width: 70%;
        margin-top: 10%;
    }
    .group-icon-network {
        margin-top: 5%;
        margin-left: 45%;
        height: 40%;
    }
    .btn-category {
        font-size: 50%;
        width: 50%;
        height: 50%;
    }
    .search-header{
        font-size: 60%;
        height: 80%;
    }
    .input-group-text .icon-search {
        width: 60%;
    }
    .input-group-text {
        height: 80%;
    }
    .group-category {
        /* height: 60%; */
        margin-top: 5%;
    }
    .btn-login {
        font-size: 50%;
        margin-top: 10%;
        margin-left: -20%;
    }
    .menu-bottom .title-header {
        width: 27%;
    }
    .menu-bottom .title-header .title {
        font-size: 155%;
    }
    .menu-bottom .title-header .competent {
        font-size: 60%;

    }
    .menu-bottom .title-header .competent .icon-muiten {
        width: 5%;
    }
    .menu-bottom .title-header .btn-start {
        font-size: 50%;
    }
    .main .main-general .procedure-title {
        font-size: 70%;
    }
    .main .main-general .procedure-description {
        font-size: 50%;
    }
    .item-card .card-title {
        font-size: 110%;
    }
    .item-card .card-text {
        font-size: 70%;
    }
    .item-bottom .like {
        margin-left: 10%;
        width: 10%;
    }
    .main-category {
        background-position: 0px 250px;
    }
    .name-image {
        font-size: 100%;
        margin-top: 10%;
    }
    .btn-8courses {
        font-size: 50%;
        margin-top: -90%;
    }
    .title-transform {
        font-size: 160%;
    }
    .description-transform {
        font-size: 90%;
    }
    .image-category-transform {
        width: 110%;
    }
    .icon-send-email {
        
    }
    .input-email {
        font-size: 100%;
    }
    .btn-subscribe {
        font-size: 70%;
    }
    .description-client .title {
        font-size: 130%;
    }
    .description-client .icon-nhay {
        width: 25%;
    }
    .description-client .description {
        font-size: 90%;
    }
    .description-client .avatar {
        width: 15%;
        height: 15%;
    }
    .description-client .name-avatar {
        font-size: 75%;
    }
    .description-client .desgin-avatar {
        font-size: 60%;
    }
    .description-client .grop-avatar {
        margin-left: 10%;
    }
    .description-client .image-avatar {
        width: 70%;
    }
    .btn-client .btn-prev {
        font-size: 60%;
    }
    .btn-client .btn-next {
        font-size: 60%;
    }
    .group-world .group-con {
        padding: 2%;
    }
    .group-world .image-group-world {
        width: 120%;
    }
    .group-world .title-group-world {
        font-size: 120%;
    }
    .group-world .description-group-world {
        font-size: 70%;
    }
    .row-featured .group-menu {
        width: 60%;
    }
    .row-featured .group-menu .item-menu {
        font-size: 70%;
    }
    .row-featured .group-menu .item-menu .icon-menu{
        width: 20%;
    }
    .main-recent-courses .category .btn-view {
        font-size: 90%;
        margin-left: 40%;
    }
    .main-provides .tilte {
        font-size: 180%;    
    }
    .main-provides .descripton {
        font-size: 90%;  
    }
    .main-provides .btn-get {
        margin-left: 40%;  
    }
    .group-become .icon-become {
        width: 25%;
    }
    .group-become .title {
        font-size: 110%;
    }
    .group-become .descripton {
        font-size: 90%;
    }
    .group-become .btn-start-become {
        font-size: 70%;
    }
    .group-become .btn-start-teaching {
        font-size: 70%;
    }
    .footer h5 {
        font-size: 100%;
    }
    .footer li a {
        font-size: 90%;
    }
    .footer .cot-cuoi {
        margin-top: 30%;
    }
    .footer .title {
        font-size: 120%;
    }
    .footer p {
        font-size: 90%;
    }
    .group-network-footer {
        margin-left: 40%;
    }
    .group-network-footer img {
        width: 20%;
        height: 90%;
    }
    .copyright {
        font-size: 70%;
    }
}
@import url('https://fonts.google.com/specimen/Poppins');